
.container {
width: 1000px;
}

.restaurant {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  min-height: 200px;
  position: relative;
}

.detail {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
